<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SariSariSaya"
        tools:targetApi="31">
        <activity
            android:name=".CardInstructions"
            android:exported="false" />
        <activity
            android:name=".CardGame"
            android:exported="false" />
        <activity
            android:name=".FoodEnd"
            android:exported="false" />
        <activity
            android:name=".FoodGame"
            android:exported="false" />
        <activity
            android:name=".FoodMenu"
            android:exported="false" />
        <activity
            android:name=".CardMenu"
            android:exported="false" />
        <activity
            android:name=".CircusGame"
            android:exported="false" />
        <activity
            android:name=".CircusMenu"
            android:exported="false" />
        <activity
            android:name=".DuckPrizes"
            android:exported="false" />
        <activity
            android:name=".DuckInstructions"
            android:exported="false" />
        <activity
            android:name=".DuckGame"
            android:exported="false" />
        <activity
            android:name=".DuckMenu"
            android:exported="false" />
        <activity
            android:name=".EndStory"
            android:exported="false" />
        <activity
            android:name=".DuckStory"
            android:exported="false" />
        <activity
            android:name=".CardStory"
            android:exported="false" />
        <activity
            android:name=".FoodStory"
            android:exported="false" />
        <activity
            android:name=".CircusStory"
            android:exported="false" />
        <activity
            android:name=".MainStory"
            android:exported="false" />
        <activity
            android:name=".Socials"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>